
.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #e0e4e8;
  }
  .wrapper .main_content .info{
    margin: 20px;
    line-height: 25px;
  }
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
